---
layout: default
title: Bookshelf
---
<h1>{{ page.title}}</h1>

<p>A list of books I recommend. Only the good ones make the list. Ordered by most recently read.</p>

<p>
  For cyber security related books see <a href="/cyber_security.html">here</a>,
  and my goodreads profile can be found <a href="https://www.goodreads.com/user/show/23420973-toby"> here.</a>
</p>

{% for category in site.data.bookshelf %}
<h2>{{category[0]}}</h2>

  <ul>
    {% for book in category[1]%}
      <li>
        <a href="{{book.link}}">{{book.title}}</a> by {{book.author}}. {{book.comment}}.
      </li>
    
  {% endfor %}
  </ul>
  
  

  <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
{% endfor %}
