body{
	font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: auto;
	padding:18px;
	max-width: 600px;
	font-size:18px;
	text-align: left;
    color: #e6dab2;
	background-color:#2b2b2b;
	position: relative;
}

h1{
    color: #ffb400;
}

a{
	color: #337ab7;
}

nav a, footer div a{
	margin:0px 5px;
}

#centre{
	margin-top:40px;
	text-align: center;
}


.ph-banner{
	font-family: Garamond, serif;
	background-color: black;
	color: white;
	padding: 4px;
	margin-bottom: 4px;
	text-align: center;
}

#dark-button{
	margin-bottom: 8px;
	position: relative;
	left: 100%;
	transform: translateX(-100%);
}

.dark{
	color:#f9f9f9;
	background-color: #222;
}

img, video{
	max-width: 600px;
	border: 2px solid #eba613;
}

.emoji{
	font-weight: initial !important;
}



.column {
	float: left;
	width: 50%;
	padding: 5px;
}

  /* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}
